
*.cache
obj/WSVenta.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp3.1/WSVenta.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp3.1/WSVenta.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/WSVenta.assets.cache
.vs/WSVenta/v17/.suo
obj/Debug/netcoreapp3.1/WSVenta.assets.cache
obj/Debug/netcoreapp3.1/WSVenta.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/WSVenta.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/WSVenta.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/WSVenta.assets.cache
obj/Debug/netcoreapp3.1/WSVenta.csproj.AssemblyReference.cache
obj/Debug/netcoreapp3.1/WSVenta.GeneratedMSBuildEditorConfig.editorconfig
obj/project.assets.json
obj/project.nuget.cache
obj/WSVenta.csproj.nuget.dgspec.json
